@font-face{
	font-family: CustomGotham;
	src: url(GothamBold.woff);
	font-weight: normal;
}

@font-face{
	font-family: MediumGotham;
	src: url(Gotham-Medium.woff);
	font-weight: normal;
}

.subscript {
    /* This places the paragraph in the center and makes it white. */
    text-align: center;
    color: white;
	width: 100%;
	font-family: "CustomGotham";
	font-size: 16px;
	text-shadow: 0px 0px 10px black;
}

.paragraph {
    /* This places the paragraph in the center and makes it white. */
    text-align: center;
    color: white;
	font-family: "MediumGotham";
	font-size: 3.5vmin;
	font-weight: normal;
	
	margin-left: 5%;
	margin-right: 5%;
	
	padding-top: 10px;
	padding-bottom: 10px;
	
	display: block;
	overflow: auto;
	text-overflow: scroll;
	word-wrap: break-word;
}

.hyperlink, .hyperlink_blue {
    color: yellow;
	font-family: "MediumGotham";
	font-size: 3.5vmin;
}

.hyperlink_blue {
	color: blue;
}

.NAVIGATION_BUTTON {
	width: 40%;
	
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
	margin-bottom: 40px;
}

body {
    background-image: url(BACKGROUND1.png);
    padding:0;
    margin:0;
}

header {
	width: 100%;
	height: 120px;
	background-color:rgb(255, 106, 0);
	border-bottom: solid 4px white;
	box-shadow: 0px 60px 50px black;
	
	text-align: center;
}

.tablink {
  background-color: rgb(0, 149, 255);
  font-family: "CustomGotham";
  text-align: center;
  color: white;
  float: left;
  border-bottom: solid 4px white;
  cursor: pointer;
  font-size: 15px;
  width: 33.33%;
  height: 50px;
  line-height: 50px;
  text-decoration: none;
}

.no_js_tablink {
  background-color: rgb(0, 149, 255);
  font-family: "CustomGotham";
  text-align: center;
  color: white;
  float: left;
  border-bottom: solid 4px white;
  cursor: pointer;
  font-size: 15px;
  width: 33.33%;
  height: 50px;
  line-height: 50px;
  text-decoration: none;
}


footer {
	text-align: center;
	vertical-align: middle;
	padding-top: 20px;
	padding-bottom: 20px;
	font-family: "MediumGotham";
	font-size: 16px;
	color: rgba(255, 255, 255, 0.5);
	
	width: 100%;
	height: 100%;
	background-color:rgb(17,86,149);
	float: bottom;
}

.logo {
	padding-top: 0.2%;
	height:90%;
	width: auto;
	
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
}

.image_emoticon {
	width: 32px;
	height: 32px;
	margin-top: 3px;
	
	vertical-align: top;
}

.gif {
	width: 20%;
	height: auto;
}

h1 {
	padding: 10px 10px;
	text-align: center;
	font-size: 50px;
	font-family: "CustomGotham";
	font-weight: bold;
	color: rgb(255, 106, 0);
	/* text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white; */
	text-shadow: 0px 0px 15px black;
	margin-top: 70px;
}

.page_name {
	margin-top: 70px;
	height: 100%;
	width:90%;
	border-bottom: solid 8px white;
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-size: 3.5vw;
	font-family: "CustomGotham";
	font-weight: bold;
	color: white;
	
	padding-bottom: 10px;
}

iframe {
	padding-top: 10px;
	padding-bottom: 10px;
	
    width: 40vw;
    height: 22.5vw; /* 100/56.25 = 560/315 = 1.778 */
	border-radius: 25px;
	
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: none;
	outline: none;
}

.mediaBox, .SmallMediaBox, .BigMediaBox {
	padding-top: 10px;
	padding-bottom: 15px;
	text-align: center;
	font-size: 32px;
	font-family: "CustomGotham";
	color: white;
	
	overflow: auto;
	width: 60%;
	height: 100%;
	background-color: rgb(255, 106, 0);
	border: solid 4px white;
	border-radius: 25px;
	box-shadow: 0px 0px 30px 5px black;
	
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
}

.BigMediaBox {
	width: 88%;
}

.SmallMediaBox {
	padding-bottom: 0px;
	
	width:45%;
	height: auto;
	min-height: 100%;
	background-color: rgb(17,86,149);
	
	margin-left: 0px;
	margin-right: 0px;
}

.container{
	height: 100%;
	width: 92%;
	display: flex;
	align-items: stretch;
	justify-content: space-around;
	
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: 4%;
	margin-right: 4%;
}


/* Article Classes */

.article_img_container {
	width: 18vw;
	height: 18vw;
	border-radius: 20px;
	
	margin-left: 2%;
	margin-right: 2%;
	margin-bottom: 2%;
	
	background-color: rgba(25,25,25,0.1);
	
	display: block;
	float: left;
}

.article_title, .doubler_title {
	margin-bottom: 2.5%;
	padding-top: 0.5%;
	padding-bottom: 0.5%;
	
	color: white;
	border-radius: 20px;
	
	width: 73%;
	font-family: "CustomGotham";
	font-size: 5.5vmin;
	text-shadow: 0px 0px 1vw black;
	
	float: left;
}

.article_text {
	text-align: left;
    color: white;
	font-family: "MediumGotham";
	font-size: 3.5vmin;
	
	margin-left: 2%;
	margin-right: 2%;
	padding-left: 0.5%;
}

.article_container{
	height: 100%;
	width: 90%;
	min-height: 100%;
	
	display: table;
	border-radius: 20px;
	
	margin-top: 100px;
	margin-bottom: 50px;
	margin-left: 5%;
	margin-right: 5%;
}

/* Link Box Classes */

.link_box {
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	
	width: 40vw;
	height: 10vw;
	border-radius: 20px;
	border: solid 0.5vw rgb(0,255,255);
	background-color: white;
	
	overflow: auto;
}

.link_description_box {
	width: 70%;
	height: 80%;
	background-color: ;
	
	border-radius: 20px;
	
	float: right;
	margin-top: 2.5%;
	margin-right: 2.5%;
}

.link_description {
	text-align: left;
	color: rgba(25,25,25,0.25);
	font-size: 1.3vw;
	font-family: "CustomGotham";
	
	display: block;
	margin-left: 3%;
}

.link_description::before {
	text-align: left;
	content: '\00B7';
}

.link_title {
	text-align: left;
	border-radius: 20px;
	
	color: rgb(0,255,255);
	font-size: 1.8vw;
	font-family: "MediumGotham";
	text-decoration: underline;
	
	display: block;
	padding-bottom: 1%;
	margin-bottom: 4%;
}

.subject_img{
	width: auto;
	height: 90%;
	margin-top: 5%;
	margin-left: 5%;
	
	display: inline;
}

.img_container {
	width: 20%;
	height: 80%;
	border-radius: 20px;
	
	margin-top: 2.5%;
	margin-left: 2%;
	margin-right: 2%;
	margin-bottom: 2.5%;
	
	background-color: rgba(25,25,25,0.1);
	
	display: block;
	float: left;
}

/* Hamburger Menu Classes */

.hamburger_menu {
	display: none;
    vertical-align: top;
	
	overflow: hidden;
	position: fixed;
	width: 40%;
	height: 100vh;
	background-color: rgb(255, 106, 0);
}

.hamburger_menu_button {
	width: 100%;
	height: auto;
	background-color: rgb(255, 96, 0);
	display: block;
	
	color: rgb(255, 156, 0);
	font-family: "CustomGotham";
	font-size: calc(12px + 2vw);
	text-decoration: none;
	
	text-align: left;
	cursor: pointer;
	
	border: none;
	outline: none;
	
	padding-left: 5%;
	padding-top: 2.5%;
	padding-bottom: 2.5%;
}

.exit_button {
	position: relative;
	width: auto;
	height: calc(12px + 3vw);
	border-radius: 0.2cm;
	
	cursor: pointer;
	margin-top: 1%;
	margin-bottom: 1%;
	margin-left: auto;
	display: block;
}

.hamburger_button {
	position: relative;
	width: auto;
	height: 50%;
	border-radius: 0.2cm;
	
	top: 50%;
	margin: 0;
	
	margin-left: 2%;
	margin-right: 2%;
	
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	
	cursor: pointer;
	display: block;
}

/* Table Classes */

table {
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 20px;
  border: solid 4px black;
  border-collapse: separate;
  background-color: white;
  width: 75%;
  margin-left: 12.5%;
  margin-right: 12.5%;
}

td, th {
  color: black;
  font-size: 1.5vw;
  font-family: "MediumGotham";

  text-align: left;
  padding: 8px;
}

.table_name {
  color: black;
  font-size: 2.5vw;
  font-family: "CustomGotham";
  
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.column_name {
  text-decoration: underline;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

tr:last-of-type td:first-of-type {
  border-bottom-left-radius: 20px;
}
tr:last-of-type td:last-of-type {
  border-bottom-right-radius: 20px;
}


/* Doubler Classes */

.doubler {
	width: 100%;
	height: 100%;
	text-align: center;
	display: table;
	
	margin-top: 50px;
	margin-bottom: 50px;
}

.doubler_child {
	width: 50%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.125);
	display: inline;
	float: right;
	
	justify-content: center;
	align-items: center;
	
	padding-bottom: 50px;
	text-align: center;
	font-size: 25px;
	word-wrap: break-word;
}

.doubler_container {
	width: 50%;
	height: 100%;
	float: left;
	
	padding-bottom: 50px;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.25);
}

.doubler_title {
	width: 100%;
	text-align: center;
}

.doubler_img {
	width: 40%;
	height: auto;
	border-radius: 40px;
}